.navopac:hover > a {
  opacity: 0.3;
}
.navopac:hover > a:hover {
  opacity: 1;
}



.navpoc {
  /* h-screen flex flex-col justify-center */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


